@model Logincs

    <form asp-action="Login" method="get">
        <label asp-for="id">Enter Id</label>
        <input type="text" asp-for="id" />

        <label asp-for="pass">Enter pass</label>
        <input type="text" asp-for="pass" />

        <button type="submit">submit </button>









    </form>

