<style>
    .w {
        font-size: 2em;
        font-family:fantasy;
    }

    h1 {
        font-size: 4em;
        text-align: left;
    }
    body {
        background-img: "~/Images/main.jpg" ;
    }

    .m {
        display: inline-block;
        width: 24%;
        font-size:2em;
    }
</style>

<body>
    <h1> Family Store</h1>
    <br /><br /><br />
    <div>
        <div class=" m"><a asp-action="Index" asp-controller="Women" class="w">Women</a></div>

        <div class="m"> <a asp-action="Index" asp-controller="Men" class="w">Men</a></div>


        <div class="m"> <a asp-action="Index" asp-controller="Girls" class="w">Girls</a></div>

        <div class="m">    <a asp-action="Index" asp-controller="Boys" class="w">Boys</a></div>


        <div> <img src="~/Images/main.jpg" /></div>


    </div>

   




</body>






    
 




